<!DOCTYPE html>
<html>
    <body>
        <h1>Welcome to Mobasery Library please pick a link!</h1>
        <table>
            <tr>
                <th>Navigation Pane</th>
            </tr>
            <tr>
                <td><a href="home.html">Homepage</a></td>
            </tr>
            <tr>
                <td><a href="books.html">Books</a></td>
            </tr>
        </table>
        <figure>
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/26/JackLondoncallwild.jpg">
            <figcaption>
                <h2>The Call of the wild </h2>
                <p>Author: Jack London</p>
                <p>Genre: Adventure Fiction</p>
                <p>Published: 1903 Macmillian</p>
            </figcaption>
        </figure>
    </body>
</html>